html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(images/hero1.jpg);
  background-size: cover;
}

mark.orange {
  color: #fd8924;
  background: none;
}

.main-header {
  color: white;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 185%;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 150%;
  line-height: 1.6;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav a:hover {
  border-bottom: 1px solid #fd8924;
  border-spacing: 100px;
  transition: 0.6s;
  font-size: 110%;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
  z-index: 99;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.work-sec {
  width: 94%;
  margin: 4em auto;
  font-size: 150%;
  line-height: 1.6;
  text-align: justify;
}

h2 {
  text-align: center;
}

.project-photo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 3px grey;
  z-index: -1;
}

.project-photo{
  position: relative;
  width: 100%;
}

ul.showing {
  z-index: 999;
}


@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
    background: rgba(10, 10, 10, 0.041);
  }

  nav ul li a {
    position: relative;
    color: rgb(248, 248, 248);
  }
  .menu-icon {
    display: block;
  }

  .menu li {
    position: relative;
    z-index: 999;
  }
  .main-header {
    position: relative;
    z-index: 0;
  }

  .menu {
    background: rgba(black, 0.5);
  }

  a:hover {
    border-bottom: #fd8924;
    transition: 0.3s;
    font-size: 120%;
    border-bottom: 1px solid #fd8924;
    border-spacing: 100px;
    transition: 0.8s;
  }
}
