* {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(images/hero1.jpg);
  background-size: cover;
}

mark.orange {
  color: #fd8924;
  background: none;
}

.main-header {
  color: white;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 185%;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 150%;
  line-height: 1.6;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 1;
}

nav a:hover {
  border-bottom: 1px solid #fd8924;
  border-spacing: 100px;
  transition: 0.6s;
  font-size: 110%;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.work-sec {
  width: 94%;
  margin: 4em auto;
  font-size: 150%;
  line-height: 1.6;
  text-align: center;
}

h2 {
  text-align: center;
}

.project-photo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 3px grey;
}

.project-photo{
  position: relative;
  width: 100%;
}

.project-links {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.project-links:hover {
  border-bottom: 1px solid #e67e22;
  transition: 0.8 ease-in;
}

.contact-form {
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 320%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}

.contact-form h3 {
  margin-top: 0;
}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 17px;
  margin-top: 6px;
}

textarea {
  font-size: 15px;
}

/* FOOTER SECTION */

footer {
  bottom: 0;
}

.s-m {
  position: absolute;
  bottom: -285%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.s-m a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #2c3e50;
  color: white;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 24px;
}

.s-m a:hover {
  background: #e67e22;
}

.s-m a i {
  transition: 0.4s all;
}

.s-m a:hover > i {
  transform: scale(1.6) rotate(25deg);
}

.foot-note {
  text-align: center;
  top: 50%;
  margin-top: 843px;
  font-weight: 700;
}

/* FORM SECTION */

.form-btn {
  display: block;
  background: #fd8924;
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}


@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
    background: rgba(10, 10, 10, 0.041);
  }

  nav ul li a {
    position: relative;
    color: rgb(248, 248, 248);
  }
  .menu-icon {
    display: block;
  }

  .menu li {
    position: relative;
  }
  .main-header {
    position: relative;
  }

  .menu {
    background: rgba(black, 0.5);
  }

  a:hover {
    border-bottom: #fd8924;
    transition: 0.3s;
    font-size: 120%;
    border-bottom: 1px solid #fd8924;
    border-spacing: 100px;
    transition: 0.8s;
  }

  .contact-form {
    top: 310%;
  }

  .foot-note {
    margin-top: 870px;
  }
}

/* iPhone X */

@media only screen 
    and (device-width : 375px)   { 
      .contact-form {
        top: 303%;
      }
      footer a {
        display: inline-block
        width: 60px;
      }

      .s-m {
        display: iblock;
        position: absolute;
        bottom: -245%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
      }
      .foot-note {
        margin-top: 600px;
      }
      
      h1 {
        font-weight: 700;
        text-align: center;
      }
    }


  /* iPhone 6/7/8 */
  @media (max-height: 667px) {
    .contact-form {
      top: 349%;
    }

    .s-m {
      display: iblock;
      position: absolute;
      bottom: -300%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 300px;
    }

    .foot-note {
      margin-top: 620px;
    }
  }